@import "../../../../variables";

.panel-invitation {
    background: #9e9595;
    color: white;
    padding: 10px;
}

.btn-aceitar {
    margin-left: 10px;
    background: white;
    color: $primary;
}

.btn-aceitar {
    margin-left: 10px;
    background: darkred;
    color: white;
}