<div>
	<h2>Meus Projetos</h2>

	<div *ngFor="let project of (projects$ | async)" class="background: no-repeat center; background-size: contain;">
		<img style="width:80px; height:80px;; border-radius: 50%" src="{{project.projectImage}}" (click)="gotoProject(project)">
	</div>
</div>
