.project-image {
	display: block;
}

.time-wrapper {
	padding: 15px;
	border: 1px solid #0a0a0a;
}

.time-label {
	display: flex;
	font-size: 20px;
	justify-content: flex-start;
}

.participantes-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.participant-image {
	height: 50px;
	width: 50px;
	margin-right: 12px;
}

.basic-project-info {
	display: flex;
	justify-content: flex-start;
}

.label--bold {
	font-weight: bold;
}

.label--value {
	margin-left: 5px;
}

.generic-project-info {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}

.project-info-wrapper {
	display: flex;
	padding: 8px;
}

.tasks-grid-wrapper {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	border: 1px solid #0a0a0a;
}

.card-project {
	margin:10px;
}