<div class="kanban">
	<div class="example-container">
		<h2 class="title-column">Criada</h2>

		<div
			cdkDropList
			#createdList="cdkDropList"
			[cdkDropListData]="created"
			[cdkDropListConnectedTo]="[todoList, doneList, doingList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of created" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>

	<div class="example-container">
		<h2 class="title-column">Em espera</h2>
	
		<div
			cdkDropList
			#todoList="cdkDropList"
			[cdkDropListData]="todo"
			[cdkDropListConnectedTo]="[createdList, doneList, doingList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of todo" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>
	
	<div class="example-container">
		<h2 class="title-column">Fazendo</h2>
	
		<div
			cdkDropList
			#doingList="cdkDropList"
			[cdkDropListData]="doing"
			[cdkDropListConnectedTo]="[createdList, todoList, doneList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of doing" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>
	
	<div class="example-container">
		<h2 class="title-column">Finalizada</h2>
	
		<div
			cdkDropList
			#doneList="cdkDropList"
			[cdkDropListData]="done"
			[cdkDropListConnectedTo]="[createdList, todoList, doingList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of done" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>
	
</div>
