@import "../../../../variables";

.container {
	padding-bottom: 10px;
	overflow: auto;

	.empty-msg {
		display: block;
		padding: 10px;
	}

	.skeleton-loading {
		display: flex;
		justify-content: center;
		height: 160px;
		align-items: center;
	}
}
