<div class="task-comments">
	<div *ngFor="let comment of (taskComments$ | async)">
		<span class="date-comment">Em {{ comment.date | date: 'd MMM y H:mm:ss' }}, <strong>{{ comment.user.firstName }}</strong> comentou:</span>
		<p>{{ comment.text }}</p>
	</div>
</div>
