@import "../../../../variables";

.container {

	.empty-msg {
		display: block;
		padding: 10px;
	}

	.tasks-content {
		max-height: 300px;
		padding: 4px 8px;
		overflow: auto;
		border: 1px solid $border;
		border-radius: 8px;

		.due-task {
			padding: 10px;
			border-bottom: 1px solid $border-light;

			&:last-child {
				border-bottom: 0;
			}

			.task-project, .task-status-label {
				padding: 2px 8px;
				font-size: .8rem;
				color: $accent-darker;
				border: 1px solid $accent-darker;
				border-radius: 4px;
			}

			.task-due-days-hoje {
				padding: 2px 8px;
				font-size: .8rem;
				color: red;
				border: 1px solid red;
				border-radius: 4px;
			}
			.task-due-days-amanha {
				padding: 2px 8px;
				font-size: .8rem;
				color: yellow;
				border: 1px solid yellow;
				border-radius: 4px;
			}
			.task-due-days-depois {
				padding: 2px 8px;
				font-size: .8rem;
				color: blue;
				border: 1px solid blue;
				border-radius: 4px;
			}

			.task-status-label {
				&.task-status-label--red {
					color: red;
					border-color: red;
				}

				&.task-status-labelr--green {
					color: green;
					border-color: green;
				}

				&.task-status-label--blue {
					color: blue;
					border-color: blue;
				}

				&.task-status-label--grey {
					color: grey;
					border-color: grey;
				}

				&.task-status-label--yellow {
					color: yellow;
					border-color: yellow;
				}

				&.task-status-label--orange {
					color: orange;
					border-color: orange;
				}
			}
		}
	}

	.skeleton-loading {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 160px;
	}
}

@media (max-width: 599px) {

	.task-title {
		margin-bottom: 8px;
	}
}
