@import "../../../variables";

.signup-container {
	margin-top: -40px;
	margin-bottom: 40px;

	form {
		padding: 15px;
		border: 1px solid $border;
		border-radius: 10px;

		h2 {
			margin-top: 0;
			text-align: center;
		}

		.image-container {
			margin-bottom: 10px;
		}

		.icon-success {
			color: $green;
		}

		.btn-salvar-signup {
			width: 100px;
		}
	}
}
