@import "../../../../variables";

h1 {
	margin-top: 32px;
}

.container {
	padding-bottom: 10px;
	overflow: auto;

	.card-project {
		position: relative;
		height: 160px;
		width: 160px;
		border: 1px solid $border;
		border-radius: 8px;
		overflow: hidden;

		&:hover {
			.project-image {
				background-color: $accent;
			}

			.team-of-project {
				opacity: .8;
			}
		}

		.project-image {
			height: 100%;
			width: 100%;
			background: transparent no-repeat center;
			background-size: contain;
			transition: .5s;

			span {
				font-size: 1.1rem;
				text-align: center;
			}
		}

		.team-of-project {
			position: absolute;
			bottom: 4px;
			width: 100%;
			color: $primary;
			font-size: .8rem;
			text-align: center;
			opacity: .2;
			transition: .5s;
		}
	}

	.empty-msg {
		display: block;
		padding: 10px;
	}

	.skeleton-loading {
		display: flex;
		justify-content: center;
		height: 160px;
		align-items: center;
	}
}
