.item {
	box-sizing: border-box;
}

.leftRs {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
	border-radius: 999px;
	left: 0;
}

.rightRs {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
	border-radius: 999px;
	right: 0;
}

.myPoint {
	list-style-type: none;
	text-align: center;
	padding: 12px;
	margin: 0;
	white-space: nowrap;
	overflow: auto;
	box-sizing: border-box;
}

.myPoint  li {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.55);
	padding: 4px;
	margin: 0 3px;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
	transition: 0.4s;
}

.myPoint  li.active {
	background: #6b6b6b;
	transform: scale(1.2);
}
